#page-footer .copyright .madeby {
  display: none !important;
}

#page-footer {
  background-color: #328e77;
}

body {
  color: #808080;
}

.supportemail {
  display: none;
}

@media (min-width: 576px) {
  #page-wrapper #page {
    height: 100%;
  }
}

.btn-footer-popover {
  background-color: #4dd9b7 !important;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

#course-category-listings .detail-pair .pair-key span {
  font-size: 0.85rem !important;
  word-wrap: normal !important;
  display: inline !important;
}

#course-category-listings ul.ml {
  padding-left: 0 !important;
}

h3, .h4 {
  color: #328e77 !important;
}

.activity-navigation #next-activity-link {
  text-align: right !important;
}

.activity-navigation #prev-activity-link {
  text-align: left !important;
}

#page-footer .btn-footer-popover {
  display: none;
}

body.pagelayout-incourse #region-main a:not(.btn), body.pagelayout-incourse .section-navigation > a:not(.btn) {
  text-decoration: none !important;
  color: #009b72 !important;
}

.pagelayout-incourse #region-main h3, 
.pagelayout-incourse #region-main .h3, 
.pagelayout-incourse #region-main h4, 
.pagelayout-incourse #region-main .h4,
.pagelayout-incourse #region-main h5,
.pagelayout-incourse #region-main .h5,
.pagelayout-incourse #region-main h6,
.pagelayout-incourse #region-main .h6 {
  margin-top: 0 !important;
  margin-bottom: 1.5rem !important;
}

h2, .h2 {
  font-size: 1.7rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.3rem;
}

.page-header-headings:not(.text-truncate), .coursename:not(.text-truncate), .categoryname:not(.text-truncate), .breadcrumb-item:not(.text-truncate) {
  font-size: 0.75rem !important;
}

p {
  line-height: 2rem !important;
  margin-bottom: 0 !important;
}

.activity-navigation {
  display: none;
}

.activity-item .activity-altcontent.activity-description {
  font-size: inherit !important;
}

.sectionname {
  font-size: 1.5rem !important;
  text-align: left !important;
} 

@media (max-width: 1200px) {
  .sectionname {
    font-size: 1.2rem !important;
  }
}

.breadcrumb {
  margin-bottom: 0 !important;
}

.pagelayout-incourse #region-main {
  text-align: justify !important;
}

.modal-title {
  margin-bottom: 0 !important;
}

.discussion-list th {
  text-align: left !important;
  text-wrap: nowrap !important;
  font-size: 0.9rem !important;
}

.discussion-list td {
  font-size: 0.9rem !important;
}

